<template>
  <div>
    <section class="section">
      <!-- <v-parallax src="@/assets/abackground.jpg"> -->
      <v-container class="fill-height text-center" fluid>
        <v-row>
          <v-col cols="12" class="pa-0">
            <!-- <h1 class="display-1 font-weight-thin mb-4">Vuetify.js</h1>
          <h4 class="subheading">Build your application today!</h4> -->
            <div class="main-text pb-5 pt-5">
              <h2 class="display-2 font-weight-bold">
                we can already help you grow plants. If you have any
                suggestions, please contact us our instagram @milamil.b
              </h2>
              <!-- <div class="underline"></div> -->
              <h2 class="subtitle-1">With love to you and your plants</h2>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <!-- </v-parallax> -->
    </section>
    <FeedbackSection></FeedbackSection>
    <section class="mapSection">
      <v-container class="" fluid>
        <v-row>
          <v-col cols="12">
            <h2 align="center" class="">Где нас найти?</h2>
            <div class="underline"></div>
          </v-col>
          <v-col>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.9238669991455!2d76.93925754383005!3d43.253017385247645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836ebfd7a8a341%3A0x879b5d0606e231c1!2z0JDQu9C80LDQu9C40L3RgdC60LjQuSDRgNCw0LnQvtC9LCDQkNC70LzQsNGC0YsgMDUwMDAw!5e0!3m2!1sru!2skz!4v1654703599919!5m2!1sru!2skz"
              width="100%"
              height="650px"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import FeedbackSection from "@/components/FeedbackSection.vue";
export default {
  name: "AboutUs",
  props: ["msg"],
  data: () => ({}),
  components: {
    FeedbackSection,
  },
};
</script>

<style scoped>
.main-text {
  color: #b0853e;
  background-color: black;
  opacity: 0.6;
  width: 100%;
}
.section {
  height: 100vh;
  background-image: url("../assets/3background.jpg");
  /* background-image: url("../assets/3.jpg"); */
  background-size: cover;
  background-position: center;
}
.mapSection {
  height: "fit-content";
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}
</style>
