<template>
  <v-container class="full">
    <div class="blockspace"></div>
    <v-card outlined>
      <v-tabs
        color="#b0853e"
        dark
        background-color="#1E1E1E"
        fixed-tabs
        v-model="tab"
      >
        <v-tab>Заказы</v-tab>
        <v-tab>Растения</v-tab>
        <v-tab>Комментарии</v-tab>
      </v-tabs>
      <v-spacer></v-spacer>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card flat>
            <v-card-text><OrderTab /></v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text><PlantsTab /></v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text><CommentsTab /></v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
import OrderTab from "../components/OrderTab";
import PlantsTab from "../components/PlantsTab";
import CommentsTab from "../components/CommentsTab";
export default {
  name: "Auth",
  data() {
    return {
      tab: "Заказы",
    };
  },
  methods: {},
  components: {
    OrderTab,
    PlantsTab,
    CommentsTab,
  },
};
</script>

<style>
.blockspace {
  height: 100px;
}
.full {
  height: 100%;
}
</style>