<template>
  <v-container class="full">
    <div class="blockspace"></div>
    <v-form>
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="4">
          <v-text-field
            label="Пароль"
            v-model="password"
            outlined
            :append-icon="showeye ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showeye ? 'text' : 'password'"
            @click:append="showeye = !showeye"
            :error-messages="wrongPass ? ['Неверный пароль'] : []"
          ></v-text-field>
          <v-btn outlined @click="login">Войти</v-btn>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import { getOrders } from "../api/orders";
export default {
  name: "Auth",
  data() {
    return {
      showeye: false,
      password: "",
      wrongPass: false,
    };
  },
  methods: {
    async login() {
      try {
        const { password } = this.$data;
        if (!password) {
          return;
        }
        localStorage.setItem("token", password);
        await getOrders();
        this.$router.push("/admin");
      } catch (error) {
        this.wrongPass = true;
      }
    },
  },
};
</script>

<style>
.blockspace {
  height: 100px;
}
.full {
  height: 100%;
}
</style>