<template>
  <div class="fill-height pt-10 pb-10">
    <v-container>
      <!-- search -->
      <v-row>
        <v-col cols="12" md="6" class="mx-auto">
          <v-card class="elevation-0 transparent">
            <v-card-text>
              <v-text-field
                outlined
                v-model="search"
                label="Поиск"
                append-icon="search"
                single-line
                hide-details
                @keyup.enter="searchPlants"
              ></v-text-field>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-for="(plant, i) in plants"
          :key="i"
          class="mb-3"
          lg="3"
          xs="12"
          sm="12"
          md="6"
        >
          <PlantCard
            :name="plant.name"
            :description="plant.description.substr(0, 100)"
            :img="plant.image"
            :price="plant.price"
            :id="plant._id"
            @buy="buy"
          />
        </v-col>
      </v-row>
    </v-container>
    <BuyDialog
      :id="order.id"
      :name="order.name"
      :price="order.price"
      :show="orderDialog"
      @show="setOrderDialog"
    ></BuyDialog>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
// import SkillCard from "@/components/SkillCard.vue";
import PlantCard from "@/components/PlantCard.vue";
import BuyDialog from "@/components/BuyDialog.vue";
import { getPlants } from "../api/plants";

// import Skills from "@/components/Skills.vue";
export default {
  data: () => ({
    search: "",
    order: {
      id: "",
      name: "",
      price: "",
    },
    orderDialog: false,
    plants: [],
  }),
  name: "Find",
  components: {
    PlantCard,
    BuyDialog,
  },
  methods: {
    async searchPlants() {
      let plants = await getPlants();
      if (this.search)
        plants = this.plants.filter((plant) => {
          return plant.name.toLowerCase().includes(this.search.toLowerCase());
        });
      this.plants = plants;
    },
    setOrderDialog(val) {
      this.orderDialog = val;
    },
    buy({ id, name, price }) {
      this.order.id = id;
      this.order.name = name;
      this.order.price = price;
      this.orderDialog = true;
      console.log(this.orderDialog, this.order);
    },
  },
  async created() {
    this.$data.plants = await getPlants();
  },
};
</script>
<style scoped>
.border {
  outline: 1px grey solid;
}
.h100 {
  height: 100%;
}
.fixed {
  position: fixed;
  z-index: 100;
}
.find {
  height: 100%;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-x-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-x-reverse-transition-enter, .scroll-x-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.scroll-x-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}
.scroll-x-transition-enter, .scroll-x-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.blockspace {
  height: 100px;
}
</style>

<!-- <template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script> -->
