<template>
  <div class="home">
    <Intro id="intro" />
    <Skills id="skills" />
    <Photos v-if="false" id="photos" />
    <Works id="works" />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Works from "@/components/Works.vue";
import Intro from "@/components/Intro.vue";
import Skills from "@/components/Skills.vue";
import Photos from "@/components/Photos.vue";
export default {
  data: () => ({}),
  name: "Home",
  components: {
    // HelloWorld,
    Works,
    Intro,
    Skills,
    Photos,
  },
};
</script>
<style scoped>
.border {
  outline: 1px grey solid;
}
.h100 {
  height: 100%;
}
.fixed {
  position: fixed;
  z-index: 100;
}
</style>

<!-- <template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script> -->
