<template>
  <div class="plant-page-container pt-10">
    <v-container>
      <!-- <v-row>
        <v-col cols="5" class="d-none d-lg-block" align-self="center">
          <v-img contain :src="plant.image" />
        </v-col>
        <v-col> -->
      <v-card
        :loading="loading"
        outlined
        class="flex d-flex flex-column"
        height="100%"
      >
        <v-row>
          <v-col cols="5" class="d-none d-lg-block" align-self="center">
            <v-img contain :src="plant.image" />
          </v-col>
          <v-col>
            <v-img
              class="d-lg-none"
              contain
              :src="plant.image"
              max-height="800"
            />
            <v-card-title>{{ plant.name }}</v-card-title>
            <v-card-text>
              <v-expansion-panels :value="0">
                <v-expansion-panel>
                  <v-expansion-panel-header
                    ><span>
                      <v-icon class="material-icons-outlined"
                        >description</v-icon
                      >
                      &MediumSpace;&MediumSpace;Описание</span
                    ></v-expansion-panel-header
                  >
                  <v-expansion-panel-content>{{
                    plant.description
                  }}</v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel
                  v-for="(item, i) in plant.attributes"
                  :key="i"
                >
                  <v-expansion-panel-header>
                    <span>
                      <v-icon class="material-icons-outlined"
                        >{{ item.icon }} </v-icon
                      >&MediumSpace;&MediumSpace;{{ item.nameRu }}</span
                    >
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    {{ item.value }}
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card-text>
          </v-col>
        </v-row>
        <!-- <div class="flex"> -->

        <v-spacer class="flex"></v-spacer>
        <!-- </div> -->
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-card-subtitle>{{ plant.price }} тенге</v-card-subtitle>
          <v-btn outlined class="zin" @click="buy"> Купить </v-btn>
        </v-card-actions>
      </v-card>
      <!-- </v-col>
      </v-row> -->
      <v-card-title class="place-content-center"
        >Оставьте ваш комментарий:</v-card-title
      >
      <div class="underline"></div>
      <!-- <v-card outlined class="mt-5">
        <v-card-title>Отзывы</v-card-title>
        <v-card></v-card>
      </v-card> -->
      <CommentCreator :plant="$route.params.id" />
      <!-- </v-col>
      </v-row>
      <v-row> comments </v-row> -->
    </v-container>
    <BuyDialog
      :id="order.id"
      :name="plant.name"
      :price="plant.price"
      :show="orderDialog"
      @show="setOrderDialog"
    ></BuyDialog>
  </div>
</template>

<script>
import { getPlant } from "../api/plants";
import CommentCreator from "../components/CommentCreator.vue";
import BuyDialog from "@/components/BuyDialog.vue";

export default {
  name: "Plant",
  props: ["id"],
  data() {
    return {
      loading: true,
      plant: {},
      order: {
        id: "",
        name: "",
        price: "",
      },
      orderDialog: false,
    };
  },
  components: { CommentCreator, BuyDialog },
  async created() {
    window.scrollTo({ behavior: "smooth", top: 0 });
    console.log(this.$data);
    this.$data.plant = await getPlant(this.$route.params.id);
    this.plant.attributes = this.plant.attributes.map((item) => ({
      ...item,
      icon: this.getIcon(item.name),
    }));
    this.$data.loading = false;
  },
  methods: {
    getIcon(name) {
      switch (name) {
        case "water":
          return "local_drink";
        case "sun":
        case "sunlight":
          return "wb_sunny";
        case "temperature":
          return "wb_cloudy";
        case "delivery":
          return "local_shipping";
        case "time":
          return "access_time";
        case "size":
          return "format_size";
        case "height":
          return "format_size";
        case "width":
          return "format_size";
        case "soil":
          return "local_florist";
        case "friendly":
          return "sentiment_very_satisfied";
        default:
          return "";
      }
    },
    setOrderDialog(val) {
      this.orderDialog = val;
    },
    buy({ id, name, price }) {
      this.order.id = id;
      this.order.name = name;
      this.order.price = price;
      this.orderDialog = true;
      console.log(this.orderDialog, this.order);
    },
  },
};
</script>

<style>
.plant-page-container {
  height: 100%;
}
.blur {
  filter: blur(0.5px);
}
.zin {
  position: relative;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}
.place-content-center {
  place-content: center;
}
</style>