<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Оформление заказа</span>
        </v-card-title>
        <v-spacer></v-spacer>
        <v-card-subtitle>
          {{ $props.name }} ({{ $props.price }}) тг.
        </v-card-subtitle>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Номер телефона*"
                  required
                  v-model="phone"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Ваше имя"
                  v-model="firstname"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="9">
                <v-text-field
                  label="Адрес доставки*"
                  required
                  v-model="address"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="3">
                <v-text-field
                  label="Количество*"
                  type="number"
                  min="1"
                  defaultValue="1"
                  required
                  v-model="amount"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <!-- <small>поля * обязательны к заполнению</small> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="darken-1" text @click="disable"> Отменить </v-btn>
          <v-btn color="darken-1" text @click="send"> Отправить </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { createOrder } from "../api/orders";

export default {
  watch: {
    dialog(val) {
      this.$emit("show", val);
    },
    show: {
      // the callback will be called immediately after the start of the observation
      immediate: true,
      handler(val) {
        console.log(val);
        this.$data.dialog = val;
      },
    },
  },
  methods: {
    disable() {
      this.$data.dialog = false;
    },
    async send() {
      const { phone, address, amount, firstname } = this.$data;
      const order = {
        plant: this.$props.id,
        name: firstname,
        phone,
        text: address,
        amount,
      };
      const response = await createOrder(order);
      console.log(response);
      this.$data.dialog = false;
    },
  },
  data() {
    return {
      dialog: this.$props.value,
      phone: "",
      address: "",
      amount: 1,
      firstname: "",
    };
  },
  props: ["id", "name", "price", "img", "show"],
};
</script>