<template>
  <v-data-table
    :headers="headers"
    :items="comments"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="text-h5"
            >Вы уверены что хотите удалить?</v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete"
              >Отмена</v-btn
            >
            <v-btn color="blue darken-1" text @click="deleteItemConfirm"
              >Да</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { getCommentsForModeration, removeComment } from "../api/comments";

export default {
  name: "CommentsTab",

  watch: {
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  data() {
    return {
      dialogDelete: false,
      editedIndex: -1,

      headers: [
        {
          text: "email",
          value: "email",
        },
        {
          text: "Текст",
          value: "text",
        },
        {
          text: "Действия",
          value: "actions",
          sortable: false,
        },
      ],
      comments: [],
    };
  },
  methods: {
    getIndex(item) {
      return this.comments.findIndex((_item) => _item._id === item._id);
    },

    deleteItem(item) {
      this.editedIndex = this.getIndex(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      const [deleted] = this.comments.splice(this.editedIndex, 1);
      console.log(deleted);
      this.deletePlant(deleted._id);
      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async getComments() {
      this.$data.comments = await getCommentsForModeration();
    },
    async deletePlant(id) {
      await removeComment(id);
      await this.getComments();
    },
  },
  async created() {
    await this.getComments();
  },
  // components: { Uploader },
};
</script>

<style scoped></style>
