<template>
  <div>
    <v-card outlined>
      <v-card-text>
        <v-textarea
          v-model="comment"
          label="Ваш комментарий*"
          outlined
          class="mt-2"
        ></v-textarea>
        <v-text-field
          outlined
          label="Ваш email*"
          type="email"
          v-model="email"
        />
        <v-btn outlined @click="leaveComment">Отправить</v-btn>
      </v-card-text>
      <v-divider></v-divider>
    </v-card>
    <v-card
      class="mt-5"
      elevation="0"
      v-for="(comment, i) in comments"
      :key="i"
    >
      <v-card-subtitle>{{ comment.email }}</v-card-subtitle>
      <v-card-text>{{ comment.text }}</v-card-text>
      <v-divider></v-divider>
    </v-card>
  </div>
</template>

<script>
import { createComment, getComments } from "../api/comments";
export default {
  name: "CommentCreator",
  props: ["plant"],
  data() {
    return {
      comment: "",
      email: "",
      comments: [],
    };
  },
  async created() {
    this.$data.comments = await getComments(this.$props.plant);
  },
  methods: {
    async leaveComment() {
      const { comment, email } = this.$data;
      if (!comment || !email) {
        return;
      }
      await createComment({ plant: this.$props.plant, text: comment, email });
      this.$data.comment = "";
      this.$data.email = "";
      this.$data.comments = await getComments(this.$props.plant);
    },
  },
};
</script>

<style>
</style>