<template>
  <!-- <section class="skills"> -->
  <!-- <v-parallax src="@/assets/abackground.jpg"> -->
  <v-container class="skills d-flex align-center">
    <v-row align="center" class="w-100">
      <v-col cols="12">
        <h2 align="center">Наши довольные клиенты</h2>
        <div class="underline"></div>
      </v-col>
      <v-col cols="12">
        <v-row align="center">
          <v-spacer class="d-none d-sm-block"></v-spacer>
          <v-item-group
            v-model="window"
            class="shrink mr-6 d-none d-md-block"
            mandatory
          >
            <v-item v-for="n in length" :key="n" v-slot="{ active, toggle }">
              <div>
                <v-btn :input-value="active" icon @click="toggle">
                  <v-icon>mdi-record</v-icon>
                </v-btn>
              </div>
            </v-item>
          </v-item-group>
          <v-col cols="12" lg="8" md="8" sm="12" xs="12">
            <v-window v-model="window" class="elevation-1" vertical>
              <v-window-item v-for="n in length" :key="n">
                <v-card flat>
                  <v-card-text>
                    <v-row class="mb-4" align="center">
                      <v-avatar color="grey" class="mr-4"></v-avatar>
                      <strong class="text-h6">Title {{ n }}</strong>
                      <v-spacer></v-spacer>
                      <v-btn icon>
                        <v-icon>mdi-account</v-icon>
                      </v-btn>
                    </v-row>

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>

                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </v-card-text>
                </v-card>
              </v-window-item>
            </v-window>
          </v-col>
          <v-spacer class="d-none d-sm-block"></v-spacer>
        </v-row>
      </v-col>
    </v-row>
  </v-container>

  <!-- </v-parallax> -->
  <!-- </section> -->
</template>

<script>
export default {
  name: "FeedbackSection",
  data: () => ({
    length: 3,
    window: 0,
  }),
  created() {
    setInterval(() => {
      this.window = (this.window + 1) % this.length;
    }, 5000);
  },
};
</script>

<style scoped>
.w-100 {
  width: 100%;
}
.skills {
  min-height: 100vh;
}
.skills-sm {
  height: 110vh;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-x-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-x-reverse-transition-enter, .scroll-x-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.scroll-x-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}
.scroll-x-transition-enter, .scroll-x-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
