<template>
  <section class="section">
    <!-- <v-parallax src="@/assets/abackground.jpg"> -->
    <v-container class="fill-height text-center" fluid>
      <v-row>
        <v-col cols="12" class="pa-0">
          <!-- <h1 class="display-1 font-weight-thin mb-4">Vuetify.js</h1>
          <h4 class="subheading">Build your application today!</h4> -->
          <div class="main-text pb-5 pt-5">
            <h2 class="subtitle-1">Здравствуй, любитель комнатных растений!</h2>
            <h2 class="display-2 font-weight-bold">
              Мы можем помочь тебе позаботиться
            </h2>
            <!-- <div class="underline"></div> -->
            <h1 class="display-2 font-weight-bold">
              о твоих любимых растениях
            </h1>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <!-- </v-parallax> -->
  </section>
</template>

<script>
export default {
  name: "Intro",
  props: ["msg"],
  data: () => ({}),
};
</script>

<style scoped>
.main-text {
  color: #b0853e;
  background-color: black;
  opacity: 0.6;
  width: 100%;
}
.section {
  height: 100vh;
  background-image: url("../assets/3background.jpg");
  /* background-image: url("../assets/3.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 300px;
  height: 1px;
  margin: auto;
}
</style>
