<template>
  <v-data-table
    :headers="headers"
    :items="orders"
    :items-per-page="5"
    class="elevation-1"
  >
    <template #item.status="{ item }">
      <v-checkbox
        v-model="item.status"
        :disabled="item.status"
        @change="markAsPaid(item)"
        :ripple="false"
      ></v-checkbox>
    </template>
  </v-data-table>
</template>

<script>
import { getOrders, markOrderAsPaid } from "../api/orders";

export default {
  name: "OrderTab",
  data() {
    return {
      headers: [
        {
          text: "Имя",
          value: "name",
        },
        {
          text: "Телефон",
          value: "phone",
        },
        {
          text: "Адрес доставки",
          value: "text",
        },
        {
          text: "Наименование товара",
          value: "plantName",
        },
        {
          text: "Количество, шт.",
          value: "quantity",
        },

        {
          text: "Итоговая цена, тг.",
          value: "finalPrice",
        },
        {
          text: "Оплата",
          value: "status",
        },
      ],
      orders: [],
    };
  },
  methods: {
    async markAsPaid(order) {
      await markOrderAsPaid(order._id);
      order.status = true;
    },
    async getOrders() {
      const orders = await getOrders();
      this.orders = orders
        .filter((item) => item.plant)
        .map((order) => {
          return {
            _id: order._id,
            name: order.name,
            phone: order.phone,
            text: order.text,
            plantName: order.plant.name,
            quantity: order.amount,
            finalPrice: parseInt(order.plant.price * order.amount) || 0,
            status: order.isPaid,
          };
        });
      return orders;
    },
  },
  async created() {
    await this.getOrders();
  },
};
</script>

<style scoped></style>
