<template>
  <!-- <section class="skills"> -->
  <!-- <v-parallax src="@/assets/abackground.jpg"> -->
  <v-container class="skills text-center d-flex align-center">
    <v-row align-self="start" class="w-100">
      <!-- <v-col cols="12">
        <h2 align="center">Как мы можем помочь тебе</h2>
        <div class="underline"></div>
      </v-col> -->
      <v-col>
        <v-carousel hide-delimiters interval="3000" cycle continuous>
          <v-carousel-item>
            <v-img
              contain
              src="https://plants.mikella.art/uploads/78bc69b3-ebd0-478d-a706-3575adb1e875.jpg"
              height="100%"
            >
            </v-img>
          </v-carousel-item>
          <v-carousel-item>
            <v-img
              contain
              src="https://plants.mikella.art/uploads/78bc69b3-ebd0-478d-a706-3575adb1e875.jpg"
              height="100%"
            >
            </v-img>
          </v-carousel-item>
          <v-carousel-item>
            <v-img
              contain
              src="https://plants.mikella.art/uploads/78bc69b3-ebd0-478d-a706-3575adb1e875.jpg"
              height="100%"
            >
            </v-img>
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
  </v-container>

  <!-- </v-parallax> -->
  <!-- </section> -->
</template>

<script>
export default {
  name: "Photos",
};
</script>

<style scoped>
.w-100 {
  width: 100%;
}
.skills {
  min-height: 100vh;
}
.skills-sm {
  height: 110vh;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-x-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-x-reverse-transition-enter, .scroll-x-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.scroll-x-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}
.scroll-x-transition-enter, .scroll-x-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
