<template>
  <v-data-table
    :headers="headers"
    :items="plants"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="black" outlined class="mb-2" v-bind="attrs" v-on="on">
            Добавить
          </v-btn>
        </template>
        <v-card :loading="!uploaded">
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="editedItem.name"
                    label="Название"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="editedItem.price"
                    label="Цена"
                    type="number"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="11">
                  <v-text-field
                    outlined
                    v-model="editedItem.image"
                    label="Изображение"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="1">
                  <v-file-input
                    accept="image/png, image/jpeg, image/bmp"
                    v-model="file"
                    @change="onFileChange"
                    hide-details
                    hide-input
                  >
                  </v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    outlined
                    v-model="editedItem.description"
                    label="Описание"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    outlined
                    v-model="editedItem.attributesMap.sunlight"
                    label="Солнечный свет"
                  ></v-text-field>

                  <v-text-field
                    outlined
                    v-model="editedItem.attributesMap.water"
                    label="Полив"
                  ></v-text-field>

                  <v-text-field
                    outlined
                    v-model="editedItem.attributesMap.friendly"
                    label="Дружелюбность"
                  ></v-text-field>

                  <v-text-field
                    outlined
                    v-model="editedItem.attributesMap.delivery"
                    label="Доставка"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="black" text @click="close"> Отмена </v-btn>
            <v-btn color="black" :disabled="!uploaded" text @click="save">
              Сохранить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="text-h5"
            >Вы уверены что хотите удалить?</v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="black" text @click="closeDelete">Отмена</v-btn>
            <v-btn color="black" text @click="deleteItemConfirm">Да</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import {
  getPlants,
  deletePlant,
  updatePlant,
  createPlant,
} from "../api/plants";
// import Uploader from "./Uploader.vue";
import { uploadFile } from "../api/upload";

export default {
  name: "PlantsTab",
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Добавить" : "Редактировать";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  data() {
    return {
      file: null,
      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      editedItem: {
        name: "",
        image: "",
        price: 0,
        description: "",
        attributesMap: {
          sunlight: "",
          water: "",
          friendly: "",
          delivery: "",
        },
      },
      defaultItem: {
        name: "",
        image: "",
        price: 0,
        description: "",
        attributesMap: {
          sunlight: "",
          water: "",
          friendly: "",
          delivery: "",
        },
      },
      headers: [
        {
          text: "Изображение",
          align: "center",
          value: "image",
        },
        {
          text: "Название",
          value: "name",
        },
        {
          text: "Описание",
          value: "description",
        },
        {
          text: "Цена",
          value: "price",
        },
        {
          text: "Действия",
          value: "actions",
          sortable: false,
        },
      ],
      plants: [],
      uploaded: true,
    };
  },
  methods: {
    async onFileChange(file) {
      try {
        this.uploaded = false;
        const uploaded = await uploadFile(file);
        console.log({ uploaded });
        this.editedItem.image = `${location.origin}/uploads/${uploaded.data.filename}`;
      } finally {
        this.uploaded = true;
      }
    },
    getIndex(item) {
      return this.plants.findIndex((_item) => _item._id === item._id);
    },
    getRuName(name) {
      switch (name) {
        case "sunlight":
          return "Солнечный свет";
        case "water":
          return "Полив";
        case "friendly":
          return "Дружелюбность";
        case "delivery":
          return "Доставка";
        default:
          return "";
      }
    },
    setAttributes(item) {
      if (!item.attributes) {
        item.attributesMap = { ...this.defaultItem.attributes };
      } else {
        item.attributesMap = item.attributes.reduce(
          (acc, attr) => ({ ...acc, [attr.name]: attr.value }),
          {}
        );
      }
    },
    editItem(item) {
      this.editedIndex = this.getIndex(item);
      this.setAttributes(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteItem(item) {
      this.editedIndex = this.getIndex(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      const [deleted] = this.plants.splice(this.editedIndex, 1);
      console.log(deleted);
      this.deletePlant(deleted._id);
      this.closeDelete();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    async save() {
      if (this.editedIndex > -1) {
        console.log({ before: this.editedItem });
        await this.updatePlant(this.editedItem);
        Object.assign(this.$data.plants[this.editedIndex], this.editedItem);
        this.editedItem = Object.assign({}, this.defaultItem);
        console.log({ after: this.editedItem });
        this.editedIndex = -1;
      } else {
        await this.createPlant(this.editedItem);
        // this.plants.push(this.editedItem);
      }
      this.close();
    },
    async getPlants() {
      this.$data.plants = await getPlants();
    },
    async deletePlant(id) {
      await deletePlant(id);
      await this.getPlants();
    },
    async updatePlant(data) {
      const attributes = Object.keys(data.attributesMap).map((key) => ({
        name: key,
        nameRu: this.getRuName(key),
        value: data.attributesMap[key],
      }));
      await updatePlant({ ...data, attributes, attributesMap: null });
    },
    async createPlant(data) {
      const attributes = Object.keys(data.attributesMap).map((key) => ({
        name: key,
        nameRu: this.getRuName(key),
        value: data.attributesMap[key],
      }));
      await createPlant({ ...data, attributes, attributesMap: null });
      await this.getPlants();
    },
  },
  async created() {
    await this.getPlants();
  },
  // components: { Uploader },
};
</script>

<style scoped>
.uploader {
  align-content: end;
}
</style>
