<template>
  <v-hover v-slot:default="{ hover }">
    <v-card height="100%" outlined class="flex d-flex flex-column">
      <div class="relative flex">
        <v-img :class="{ blur: hover }" contain :src="img" />
        <v-card-title>{{ name }}</v-card-title>
        <v-card-text>
          <div>
            {{ description }}
          </div>
        </v-card-text>

        <v-fade-transition>
          <v-overlay v-if="hover" absolute color="#036358">
            <a target="_blank" @click="goToPlant">
              <v-btn>Узнать больше...</v-btn>
            </a>
          </v-overlay>
        </v-fade-transition>
      </div>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-card-subtitle bold>{{ price }} тенге</v-card-subtitle>
        <v-btn outlined class="zin" @click="buy"> Купить </v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: "PlantCard",
  props: [
    "img",
    "title",
    "subtitle",
    "height",
    "name",
    "description",
    "price",
    "id",
  ],
  methods: {
    buy() {
      this.$emit("buy", this.$props);
    },
    goToPlant() {
      this.$router.push({
        name: "Plant",
        params: {
          id: this.id,
        },
      });
    },
  },
};
</script>

<style scoped>
.blur {
  filter: blur(0.5px);
}
.vertical-align-middle {
  vertical-align: middle;
}
.relative {
  position: relative;
}
</style>
