<template>
  <!-- <section class="skills"> -->
  <!-- <v-parallax src="@/assets/abackground.jpg"> -->
  <v-container class="skills text-center d-flex align-center">
    <v-row align-self="start">
      <v-col cols="12">
        <h2 align="center">Как мы можем помочь тебе</h2>
        <div class="underline"></div>
      </v-col>
      <v-col cols="12" lg="4" md="6" sm="12" xs="12">
        <v-lazy min-height="340">
          <transition name="scroll-x-transition">
            <div>
              <SkillCard
                height="340"
                :icon="skills[0].icon"
                :title="skills[0].title"
                :subtitle="skills[0].subtitle"
              />
            </div>
          </transition>
        </v-lazy>
      </v-col>
      <v-col cols="12" lg="4" md="6" sm="12" xs="12">
        <v-lazy min-height="340">
          <transition name="scroll-x-reverse-transition">
            <div>
              <SkillCard
                height="340"
                :icon="skills[1].icon"
                :title="skills[1].title"
                :subtitle="skills[1].subtitle"
              />
            </div>
          </transition>
        </v-lazy>
      </v-col>
      <v-col cols="12" lg="4" md="12" sm="12" xs="12">
        <v-lazy min-height="340">
          <transition name="scroll-x-reverse-transition">
            <div>
              <SkillCard
                height="340"
                :icon="skills[2].icon"
                :title="skills[2].title"
                :subtitle="skills[2].subtitle"
              />
            </div>
          </transition>
        </v-lazy>
      </v-col>
    </v-row>
  </v-container>

  <!-- </v-parallax> -->
  <!-- </section> -->
</template>

<script>
import SkillCard from "@/components/SkillCard.vue";
export default {
  name: "Skills",
  components: {
    SkillCard,
  },
  computed: {
    height() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return `110vh`;
        case "sm":
          return `110vh`;
        default:
          return `100vh`;
      }
    },
  },
  data: () => ({
    isActive: false,
    skills: [
      {
        icon: require("@/assets/nature1.png"),
        title: "Поделимся информацией",
        subtitle: `Мы поможем тебе понять, как называется твое растение, откуда оно и интересные факты`,
      },
      {
        icon: require("@/assets/nature.png"),
        title: "Поможем заботиться",
        subtitle: `Мы поможем тебе разобраться, как ухаживать за твоим растением, когда поливать и удобрять`,
      },
      {
        icon: require("@/assets/nature.png"),
        title: "Оформим заказ",
        subtitle: `Ты давно мечтал о растении но не знаешь какое выбрать ? Или может уже определился? Мы поможем тебе его приобрести`,
      },
    ],
  }),
};
</script>

<style scoped>
.skills {
  min-height: 100vh;
}
.skills-sm {
  height: 110vh;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-x-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-x-reverse-transition-enter, .scroll-x-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.scroll-x-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}
.scroll-x-transition-enter, .scroll-x-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
