<template>
  <div
    style="
      height: 500px;
      width: 500px;
      border: 1px solid red;
      position: relative;
    "
  >
    <v-card>
      <v-file-input
        accept="image/png, image/jpeg, image/bmp"
        placeholder="Pick an avatar"
        v-model="file"
        @change="onFileChange"
        type="hidden"
        hide-input
      >
      </v-file-input>
    </v-card>
  </div>
</template>

<script>
import { uploadFile } from "../api/upload";
export default {
  name: "Uploader",
  data: function () {
    return {
      file: null,
    };
  },
  methods: {
    async onFileChange(file) {
      const uploaded = await uploadFile(file);
      console.log({ uploaded });
      this.$emit("uploaded", uploaded);
    },
  },
};
</script>

<style>
</style>