<template>
  <section class="works">
    <!-- <v-parallax src="@/assets/abackground.jpg"> -->
    <v-container align="start" class="fill-height text-center">
      <v-row align-self="start" class="fill-height">
        <v-col cols="12">
          <h2 align="center">Давайте начнем!</h2>
          <div class="underline"></div>
        </v-col>
        <v-col cols="12">
          <p class="font-weight-medium">
            Найди своё растение и ухаживай за ним правильно, выращивай его
            здоровым и красивым
          </p>
          <router-link class="menu-link" to="/find" @click.native="scrollTop"
            ><v-btn class="ma-2" large depressed color="#b87a93"
              >Найти своё растение</v-btn
            ></router-link
          >
        </v-col>
        <v-col cols="12" />
        <v-col cols="12" />
      </v-row>
      <!-- <v-row> -->
      <!-- <v-col
          v-for="(work, i) in myWorks"
          :key="i"
          align="center"
          class="mb-3"
          lg="4"
          xs="12"
          sm="12"
          md="6"
        >
          <v-lazy>
            <transition name="scroll-y-reverse-transition">
              <div>
                <WorkCard
                  :name="work.name"
                  :desription="work.desription"
                  :img="work.image"
                  :url="work.url"
                />
              </div>
            </transition>
          </v-lazy>
        </v-col> -->
      <!-- </v-row> -->
    </v-container>
  </section>
</template>

<script>
// import WorkCard from "@/components/WorkCard.vue";
export default {
  name: "Works",
  components: {
    // WorkCard
  },
  methods: {
    scrollTop() {
      window.scrollTo({
        behavior: "smooth",
        top: 0,
      });
    },
  },
  data: () => ({
    // myWorks: [
    //   {
    //     name: "Univer",
    //     desription: "Portal for students, teachers, admissions and applicants.",
    //     image: require("@/assets/univer.png"),
    //     url: "http://testuniver.instaboss.kz/"
    //     // show: false
    //   },
    //   {
    //     name: "Trip Inside",
    //     desription:
    //       '"Trip Inside" service, created to search for group and individual tours.',
    //     image: require("@/assets/trip-inside.png"),
    //     url: "https://trip-inside.com/"
    //     // show: false
    //   },
    //   {
    //     name: "Voxball",
    //     desription:
    //       '"Voxball" offers you to register on the portal, create surveys and earn coins',
    //     image: require("@/assets/voxball.png"),
    //     url: "http://95.46.8.112:9875/ru/polls"
    //     // show: false
    //   }
    // ]
  }),
};
</script>

<style scoped>
.works {
  height: calc(100vh - 80px);
  background-image: url("../assets/1background.jpg");
  background-size: cover;
  background-position: center;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-y-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-y-reverse-transition-enter, .scroll-y-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
