<template>
  <v-app>
    <v-overlay opacity="1" :value="loader"> </v-overlay>
    <div class="fixed">
      <v-card dark color="grey" flat tile width="100%">
        <v-toolbar dense flat>
          <v-toolbar-title @click="gohome" class="cursor-pointer"
            >Plants</v-toolbar-title
          >
          <v-spacer></v-spacer>

          <!-- @click="$vuetify.goTo('#intro')" -->
          <router-link class="menu-link" to="/" @click.native="scrollTop"
            ><v-btn class="ma-2" align="center" outlined color="white"
              >Главная</v-btn
            ></router-link
          >
          <router-link class="menu-link" to="/find" @click.native="scrollTop"
            ><v-btn class="ma-2" align="center" outlined color="white"
              >Поиск</v-btn
            ></router-link
          >
          <router-link class="menu-link" to="/aboutUs" @click.native="scrollTop"
            ><v-btn class="ma-2" align="center" outlined color="white"
              >О нас</v-btn
            ></router-link
          >
        </v-toolbar>
      </v-card>
    </div>
    <div class="blockspace"></div>
    <router-view />
    <v-footer dark>
      <v-spacer />
      <v-icon>mdi-instagram</v-icon>@milamil.b
      <v-spacer />
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  components: {},
  methods: {
    scrollTop() {
      window.scrollTo(0, 0);
    },
    gohome() {
      this.scrollTop();
      this.$router.push("/");
    },
  },
  data: () => ({
    icons: ["fab fa-instagram"],
    loader: false,
  }),
  mounted() {
    setTimeout(() => {
      this.loader = false;
    }, 3000);
  },
};
</script>
<style lang="scss">
.menu-link {
  text-decoration: none;
}
.fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7efef;
}

::-webkit-scrollbar-thumb {
  background: #b0853e;
  border-radius: 3px;
}
.blockspace {
  height: 48px;
}
.cursor-pointer {
  cursor: pointer;
}
</style>

<!-- <template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style> -->
